@font-face {
  font-family: archi;
  src: url(./archia-light-webfont.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
  cursor: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.cursor {
  height: 1.5vmax;
  width: 1.5vmax;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  /* transition: 0s linear; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  mix-blend-mode: difference;
  z-index: 9;
  padding: 1.2vmax 7vmax;
}

.navbar > .left > img {
  height: auto;
  width: 200px;
}

.navbar > .right > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 0.8vmax;
  font-weight: 600;
  margin: 1.7vmax;
}

.navbar > i {
  font-size: 1.5vmax;
  color: #fff;
  display: none;
}

/* HOMEPAGE --------------------> */

.homepage {
  width: 100%;
  height: 100vh;
  position: relative;
}

.homepage > h1 {
  font-family: archi;
  position: absolute;
  bottom: 20%;
  font-weight: 100;
  z-index: 9;
  top: 75%;
  left: 5%;
  font-size: 3vmax;
  color: #fff;
  width: 50%;
}

.homepage > h1::after {
  content: "";
  position: absolute;
  height: 3.8vmax;
  width: 2vmax;
  animation: kuch 0.3s infinite linear;
  background-color: #dddddd;
}

.homepage > h1 span {
  display: none;
  font-family: archi;
}

@keyframes kuch {
  100% {
    opacity: 0;
  }
}

.bgvideo {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 1px;
}

/* PAGE-2 --------------------> */

.page2 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 6vmax 5vmax;
  background-color: #fff;
}

.page2 > h1 {
  font-size: 1.5vmax;
  letter-spacing: 5px;
  word-spacing: 5px;
  font-weight: 500;
  text-align: center;
}

.page2 > .page2-content {
  height: 25vmax;
  display: flex;
  margin-top: 5vmax;
  align-items: center;
  justify-content: space-between;
}

.page2 > .page2-content > .left-page2-content {
  height: 100%;
  width: 42%;
  background-color: #f8f8f8;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.page2 > .page2-content > .left-page2-content > .blur {
  height: 100%;
  width: 50%;
  backdrop-filter: blur(20px);
  position: relative;
  z-index: 9;
}

.page2 > .page2-content > .left-page2-content > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.page2 > .page2-content > .right-page2-content {
  height: 100%;
  width: 50%;
}

.page2 > .page2-content > .right-page2-content > h1 {
  font-size: 3.5vmax;
  font-weight: 500;
}

.page2 > .page2-content > .right-page2-content > p {
  font-size: 1.3vmax;
  font-weight: 300;
  margin: 2vmax 0;
  line-height: 1.8vmax;
}

.page2 > .page2-content > .right-page2-content > button {
  font-size: 1.1vmax;
  font-weight: 500;
  padding: 1vmax 2vmax;
  border-radius: 50px;
  border: 2px solid #000;
  background-color: transparent;
  font-family: Montserrat;
  margin-top: 1.3vmax;
}

/* PAGE-3 --------------------> */

.page3 {
  height: 100vh;
  width: 100%;
  padding: 6vmax 7vmax;
  background-color: #fff;
}

.page3-content {
  margin-top: 2vmax;
  height: 33vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page3-content > .left-page3-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.page3-content > .left-page3-content > h1 {
  font-size: 3.5vmax;
  font-weight: 500;
}

.page3-content > .left-page3-content > p {
  font-size: 1.3vmax;
  font-weight: 300;
  margin: 2vmax 0;
  line-height: 1.8vmax;
}

.page3-content > .left-page3-content > p > span {
  font-weight: 600;
  font-family: Montserrat;
}

.page3-content > .left-page3-content > button {
  font-size: 1.1vmax;
  font-weight: 500;
  padding: 1vmax 2vmax;
  border-radius: 50px;
  border: 2px solid #000;
  background-color: transparent;
  font-family: Montserrat;
  margin-top: 1.3vmax;
}

.page3-content > .right-page3-content {
  width: 40%;
  height: 100%;
}

.page3-content > .right-page3-content > .page3-video {
  width: 100%;
  height: 75%;
}

.page3-content > .right-page3-content > .page3-video > video:hover {
  transform: scale(1.1);
}

.page3-content > .right-page3-content > .page3-video > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s all ease-in-out;
}

/* PAGE-4 --------------------> */

.page4 {
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
  background-image: url(./bg.png);
  background-size: cover;
  background-position: top;
  padding-bottom: 10vmax;
}

.page4 > .page4-top {
  width: 100%;
  height: 100px;
}

.page4 > h2 {
  font-family: archi;
  letter-spacing: 0.7vmax;
  font-weight: 100;
  transform: translate(41%, -250%);
}

.page4 > .helmet {
  width: 100%;
}

.page4 > .page4-content-1 {
  width: 100%;
  text-align: center;
  /* background-color: aqua; */
  /* padding: 5vmax 0; */
}

.page4 > .page4-content-1 > h1 {
  font-size: 3vmax;
  font-weight: 100;
  font-family: archi;
}

.page4 > .page4-content-1 > p {
  font-size: 1.3vmax;
  margin: 2vmax 0;
  font-family: Poppins;
  font-weight: 300;
}

.page4 > .page4-content-1 > button {
  font-size: 1.1vmax;
  font-weight: 500;
  padding: 1vmax 2vmax;
  border-radius: 50px;
  border: 2px solid #000;
  background-color: transparent;
  font-family: Montserrat;
  margin-top: 1.3vmax;
}

.page4 > .page4-content-1 > .page4-content-2 {
  height: 25vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  margin-top: 7vmax;
  padding: 2vmax 7vmax;
  position: relative;
}

.page4 > .page4-content-1 > .page4-content-2 > .content-2-left {
  width: 47%;
  height: 100%;
  /* background-color: aqua; */
  text-align: left;
}

.page4 > .page4-content-1 > .page4-content-2 > .content-2-left > h5 {
  font-family: archi;
  font-size: 1.7vmax;
  font-weight: 500;
  line-height: 2.4vmax;
}

.page4 > .page4-content-1 > .page4-content-2 > .content-2-left > h5 > span {
  font-weight: 900;
}

.page4 > .page4-content-1 > .page4-content-2 > .content-2-right {
  width: 43%;
  height: 95%;
  /* background-color: aqua; */
}

.page4 > .page4-content-1 > .page4-content-2 > .content-2-right > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s all ease;
}

.page4 > .page4-content-1 > .page4-content-2 > .content-2-right > video:hover {
  transform: scale(1.1);
}

.page4 > .page4-content-1 > .page4-content-3 {
  height: 25vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  margin-top: 7vmax;
  padding: 2vmax 7vmax;
  position: relative;
}

.page4 > .page4-content-1 > .page4-content-3 > .content-3-left {
  width: 43%;
  height: 95%;
  /* background-color: aqua; */
}

.page4 > .page4-content-1 > .page4-content-3 > .content-3-left > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s all ease;
}

.page4 > .page4-content-1 > .page4-content-3 > .content-3-left > video:hover {
  transform: scale(1.1);
}

.page4 > .page4-content-1 > .page4-content-3 > .content-3-right {
  width: 47%;
  height: 100%;
  /* background-color: aqua; */
  text-align: left;
}

.page4 > .page4-content-1 > .page4-content-3 > .content-3-right > h5 {
  font-family: archi;
  font-size: 1.7vmax;
  font-weight: 500;
  line-height: 2.4vmax;
}

.page4 > .page4-content-1 > .page4-content-3 > .content-3-right > h5 > span {
  font-weight: 900;
}

.page4 > .page4-content-1 > .page4-content-3 > .content-3-right > button {
  font-size: 1.1vmax;
  font-weight: 500;
  padding: 1vmax 2vmax;
  border-radius: 50px;
  border: 2px solid #000;
  background-color: transparent;
  font-family: Montserrat;
  margin-top: 1.3vmax;
  margin-top: 5vmax;
}

/* PAGE-5 --------------------> */

.page5 {
  height: 100vh;
  width: 100%;
  background-image: url(https://www.brain.space/wp-content/themes/brain.space/assets/bg/home/ecosystem_bg.jpg);
  background-size: cover;
  position: relative;
}

.page5 > h2 {
  font-family: archi;
  letter-spacing: 0.3vmax;
  font-weight: 500;
  width: max-content;
  margin: 0 auto;
  color: white;
  font-size: 1.4vmax;
  transform: translate(0%, 150%);
}

.page5-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5vmax 5vmax;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.page5-info {
  flex-shrink: 0;
  width: 37vmax;
  height: 100%;
  color: #fff;
  /* background-color: red; */
}

.page5 > .page5-content > .page5-info > h2 {
  font-family: archi;
  font-size: 3.1vmax;
  line-height: 3.5vmax;
  font-weight: 500;
  margin-bottom: 1vmax;
}

.page5 > .page5-content > .page5-info > p {
  font-size: 1.3vmax;
  line-height: 1.7vmax;
}

.page5 > .page5-content > .page5-info > button {
  font-size: 1.1vmax;
  font-weight: 500;
  padding: 1vmax 2vmax;
  border-radius: 50px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-family: Montserrat;
  margin-top: 2vmax;
  color: white;
}

.page5 > .page5-content > .page5-elems {
  flex-shrink: 0;
  height: 100%;
  width: 40vmax;
  background-color: rgba(255, 255, 255, 0.182);
  -webkit-mask-image: url(https://www.brain.space/wp-content/themes/brain.space/assets/bg/home/ecosystem-box_bg_mob.svg);
  -webkit-mask-size: cover;
  -webkit-mask-position: bottom;
  -webkit-mask-repeat: no-repeat;
  backdrop-filter: blur(20px);
  padding: 2.5vmax;
  margin: 0 1vmax;
  border-top-left-radius: 2vmax;
  border-top-right-radius: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.page5 > .page5-content > .page5-elems > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1vmax;
}

.page5 > .page5-content > .page5-elems > h2 {
  font-family: archi;
  font-size: 3vmax;
  font-weight: 100;
  letter-spacing: 0.2vmax;
  margin-top: 1.5vmax;
}

.page5 > .page5-content > .page5-elems > p {
  font-size: 1vmax;
  margin-top: 1vmax;
  font-weight: 300;
  font-family: Poppins;
}

.page5 > .page5-content > .page5-elems > .ri-arrow-right-line {
  font-size: 2.5vmax;
  color: #fff;
  opacity: 0.7;
  transform: translate(1350%, 180%);
}

.page5 > .slider {
  height: 5px;
  width: 59%;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  bottom: 2%;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, 0);
  overflow: hidden;
}

.page5 > .slider > .slider-in {
  height: 100%;
  width: 17vmax;
  background-color: #000;
}

/* PAGE-6 -------------------*/

.page6 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(208, 183, 255, 1) 0%,
    rgba(250, 180, 175, 1) 60%,
    rgba(250, 224, 202, 1) 84%,
    rgba(241, 242, 255, 1) 100%
  );
  /* conic-gradient(from 197deg at 45.54% 44.46%, #F1F2FF 26.2499991059deg, #d0b7ff 101.25deg, #fae0ca 243.7499928474deg, #fab4af 326.25deg); */
}

.page6-in {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  padding: 8vmax;
  /* background-color: #000; */
}

.page6 > .page6-in > h1 {
  font-family: archi;
  font-weight: 100;
  font-size: 3.5vmax;
}

.page6 > .page6-in > .page6-in-content {
  border-bottom: 1px solid black;
  width: 100%;
  height: 90%;
  /* background-color: #000; */
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page6 > .page6-in > .page6-in-content > .left-con {
  width: 49%;
  height: 100%;
  /* background-color: aqua; */
}

.page6 > .page6-in > .page6-in-content > .left-con > p {
  font-family: archi;
  font-weight: 500;
  font-size: 1.5vmax;
  letter-spacing: 0.1vmax;
  margin-top: 2vmax;
}

.page6 > .page6-in > .page6-in-content > .right-con {
  width: 49%;
  height: 100%;
  margin-left: 3vmax;
}

.page6 > .page6-in > .page6-in-content > .right-con > .up {
  width: 100%;
  height: 35%;
  /* background-color: aquamarine; */
}

.page6 > .page6-in > .page6-in-content > .right-con > .up > p {
  margin-top: 2vmax;
  font-size: 1.4vmax;
  letter-spacing: 0.1vmax;
}

.page6 > .page6-in > .page6-in-content > .right-con > .down {
  width: 100%;
  height: 40%;
  margin-left: 1.5vmax;
  /* background-color: brown; */
}

.page6 > .page6-in > .page6-in-content > .right-con > .down > h4 {
  font-family: Poppins;
  letter-spacing: 0.1vmax;
  font-size: 1.3vmax;
  font-weight: 500;
  margin-bottom: 1vmax;
}

.page6two {
  height: 150vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(208, 183, 255, 1) 0%,
    rgba(250, 180, 175, 1) 60%,
    rgba(250, 224, 202, 1) 84%,
    rgba(241, 242, 255, 1) 100%
  );
  padding: 5vmax 7vmax;
  position: relative;
  overflow: hidden;
}

.page6two::after {
  content: "";
  width: 40%;
  height: 7%;
  position: absolute;
  background: url(https://www.brain.space/wp-content/themes/brain.space/assets/substracts/hp_bdass_substract.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 93.3%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}

.page6two > h2 {
  font-size: 1.4vmax;
  font-weight: 600;
  font-family: Poppins;
  margin-left: 2vmax;
}

.page6two > .page6two-cont {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page6two > .page6two-cont > .page6two-elems {
  height: 90%;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3vmax;
  border-radius: 2.5vmax;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.page6two > .page6two-cont > .page6two-elems > .up > h2 {
  font-family: archi;
  font-size: 1.9vmax;
  padding: 1vmax 2vmax;
  border-radius: 2vmax;
}

.page6two > .page6two-cont > .page6two-elems > .up > .page6-h1 {
  background-color: #dfdeff;
}

.page6two > .page6two-cont > .page6two-elems > .up > .page6-h2 {
  background-color: #c3e6fe;
}

.page6two > .page6two-cont > .page6two-elems > .up > .page6-h3 {
  background-color: #ffd8ce;
}

.page6two > .page6two-cont > .page6two-elems > .down {
  width: 100%;
}

.page6two > .page6two-cont > .page6two-elems > .down > p {
  font-family: archi;
  font-size: 1.2vmax;
  margin-top: 2vmax;
}

.page6two > h3 {
  text-align: center;
  font-family: archi;
  margin-top: 4vmax;
  font-size: 1.4vmax;
  letter-spacing: 0.1vmax;
}

.page6two > button {
  font-size: 1.1vmax;
  font-weight: 500;
  padding: 1vmax 2vmax;
  border-radius: 50px;
  border: 1px solid #000000;
  background-color: transparent;
  font-family: Montserrat;
  margin-top: 2vmax;
  color: rgb(0, 0, 0);
}

/* PAGE-7 ---------------->*/

.page7 {
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
  padding: 5vmax;
}

.page7 > h2 {
  font-family: archi;
  letter-spacing: 0.3vmax;
  font-weight: 500;
  width: fit-content;
  margin: auto;
  color: rgb(0, 0, 0);
  font-size: 1.4vmax;
}

.page7 > .page7-info {
  width: 90%;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vmax;
  /* background: #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page7 > .page7-info > .left-info {
  width: 45%;
  height: 90%;
  /* background-color: red; */
}

.page7 > .page7-info > .left-info > h1 {
  font-family: archi;
  font-size: 3vmax;
  font-weight: 100;
}

.page7 > .page7-info > .left-info > p {
  font-family: Gilroy;
  font-size: 1.4vmax;
  margin-top: 2vmax;
  font-weight: 100;
}

.page7 > .page7-info > .right-info {
  width: 49%;
  height: 90%;
  /* background-color: rgb(110, 70, 70); */
}

.page7 > .page7-info > .right-info > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.page7 > .icons {
  width: 100%;
  height: 70vh;
  /* background-color: #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page7 > .icons > .up {
  width: 100%;
  height: 50%;
  padding: 0 15vmax;
  /* background-color: #ff0000; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page7 > .icons > .up > .box {
  height: 70%;
  width: 16vmax;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.page7 > .icons > .up > .box > img {
  width: 46px;
  height: 46px;
}

.page7 > .icons > .up > .box > p {
  font-family: archi;
  font-size: 0.9vmax;
  text-align: center;
}

.page7 > .icons > .down {
  width: 100%;
  height: 50%;
  padding: 0 5vmax;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page7 > .icons > .down > .box {
  height: 70%;
  width: 16vmax;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.page7 > .icons > .down > .box > img {
  width: 46px;
  height: 46px;
}

.page7 > .icons > .down > .box > p {
  font-family: archi;
  font-size: 0.9vmax;
  text-align: center;
}

.page7 > button {
  font-size: 1vmax;
  font-weight: 500;
  padding: 1vmax 2vmax;
  border-radius: 50px;
  border: 2px solid #000000;
  background-color: transparent;
  font-family: Montserrat;
  margin-left: 3vmax;
  margin-top: 2vmax;
  margin-bottom: 2vmax;
  color: rgb(0, 0, 0);
}

/* PAGE-8---------------- */

.page8 {
  width: 93%;
  height: 500vh;
  margin: 0 auto;
  /* background: conic-gradient(
    from 176.66deg at 11% 51.8785%,
    rgb(255, 214, 206) -31.75deg,
    rgb(255, 236, 199) 253.13deg,
    rgb(255, 231, 210) 300deg,
    rgb(255, 214, 206) 328.25deg,
    rgb(255, 236, 199) 613.12deg
  ); */
  background: conic-gradient(
    at 0 0,
    rgb(255, 228, 233),
    aliceblue,
    rgb(205, 243, 255),
    rgb(195, 255, 195),
    lightyellow,
    rgb(251, 226, 230)
  );
  position: relative;
  padding-top: 1px;
  border-bottom-left-radius: 5vmax;
  border-bottom-right-radius: 5vmax;
  /* padding: 3vmax; */
}

.page8::before {
  content: "";
  left: 0;
  position: absolute;
  background: url(https://www.brain.space/wp-content/themes/brain.space/assets/imgs/side-shape-icons/hp_intro_side_icon.svg)
    no-repeat center;
  background-size: 5vmax;
  background-color: black;
  width: 9vmax;
  height: 9vmax;
  border-radius: 100%;
  top: 0;
  z-index: 1;
}

.page8 > img {
  width: 17vmax;
  transform: translate(0%, -1%);
  position: absolute;
}

.page8 > h2 {
  width: max-content;
  margin: 6vmax auto;
  font-family: archi;
  font-weight: 100;
  letter-spacing: 0.2vmax;
  font-size: 1.3vmax;
}

.page8 > .page8-info {
  width: 90%;
  height: 50vh;
  margin: 0 auto;
  /* background-color: #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page8 > .page8-info > .left-info {
  width: 49%;
  height: 100%;
  /* background-color: aquamarine; */
}

.page8 > .page8-info > .left-info > h1 {
  font-family: archi;
  font-weight: 100;
  font-size: 3vmax;
  margin-top: 5vmax;
}

.page8 > .page8-info > .right-info {
  width: 49%;
  height: 100%;
  /* background-color: rgb(46, 60, 56); */
}

.page8 > .page8-info > .right-info > h2 {
  font-family: archi;
  font-weight: 100;
  font-size: 1.9vmax;
  margin-top: 5vmax;
}

.page8 > .page8-info > .right-info > p {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.2vmax;
  margin-top: 2vmax;
}

.page8 > .blurdiv {
  width: 90%;
  height: 150vh;
  /* border: 2px solid black; */
  border-radius: 3vmax;
  margin: 2vmax auto;
  backdrop-filter: blur(200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page8 > .blurdiv > h3 {
  width: max-content;
  margin: 3vmax auto;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.4vmax;
  letter-spacing: 0.1vmax;
}

.page8 > .blurdiv > .icons {
  width: 100%;
  height: 25vh;
  /* background-color: #000; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page8 > .blurdiv > .icons > .left-ico {
  width: 40%;
  height: 100%;
  /* background-color: rgb(63, 43, 19); */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4vmax;
  padding: 1vmax;
  padding-left: 9vmax;
  border-bottom: 1px solid rgb(54, 54, 54);
}

.page8 > .blurdiv > .icons > .left-ico > h4 {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 1.3vmax;
  padding: 1vmax;
  font-family: archi;
}

.page8 > .blurdiv > .icons > .left-ico > h5 {
  font-family: archi;
  font-weight: 100;
  letter-spacing: 0.1vmax;
}

.page8 > .blurdiv > .icons > .right-ico {
  width: 40%;
  height: 100%;
  /* background-color: rgb(101, 77, 48); */
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1vmax;
  padding-left: 9vmax;
  gap: 4vmax;
  border-bottom: 1px solid rgb(54, 54, 54);
}

.page8 > .blurdiv > .icons > .right-ico > h4 {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 1.3vmax;
  padding: 1vmax;
  font-family: archi;
}

.page8 > .blurdiv > .icons > .right-ico > h5 {
  font-family: archi;
  font-weight: 100;
  letter-spacing: 0.1vmax;
}

.page8 > .sensor-div {
  width: 90%;
  height: 80vh;
  /* background-color: #000; */
  margin: 15vmax auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page8 > .sensor-div > .sensor-left {
  width: 49%;
  height: 100%;
  /* background-color: cadetblue; */
}

.page8 > .sensor-div > .sensor-left > h1 {
  font-family: archi;
  font-size: 3.2vmax;
}

.page8 > .sensor-div > .sensor-left > p {
  font-family: Poppins;
  font-size: 1.3vmax;
  font-weight: 300;
  margin-top: 3vmax;
}

.page8 > .sensor-div > .sensor-left > .box {
  width: 80%;
  height: 35vh;
  /* background-color: #000; */
  margin-top: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.page8 > .sensor-div > .sensor-left > .box > .inside-box {
  width: 100%;
  height: 16%;
  /* background-color: #c3e6fe; */
  display: flex;
  align-items: center;
  justify-content: start;
  border-top: 1px solid black;
}

.page8 > .sensor-div > .sensor-left > .box > .inside-box > P {
  font-family: archi;
  font-size: 0.9vmax;
  margin-top: 0.5vmax;
}

.page8 > .sensor-div > .sensor-right {
  width: 49%;
  height: 100%;
  /* background-color: cadetblue; */
}

.page8 > .sensor-div > .sensor-right > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.page8 > .space-mission {
  height: 124vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.803);
  border-radius: 5vmax;
  position: relative;
  background: url(https://www.brain.space/wp-content/themes/brain.space/assets/bg/home/space-mission_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .page8 > .space-mission::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://www.brain.space/wp-content/themes/brain.space/assets/bg/home/space-mission_bg.jpg)
    no-repeat center;
    -webkit-mask-image: url(https://www.brain.space/wp-content/themes/brain.space/assets/bg/home/space-mission-box_bg.jpg.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    object-fit: cover;
    background-size: cover;
    z-index: 1;
  } */

.page8 > .space-mission > .content {
  width: 100%;
  height: 100%;
  padding-top: 1px;
}

.page8 > .space-mission > .content > h1 {
  width: max-content;
  font-family: archi;
  font-size: 1.2vmax;
  font-weight: 100;
  letter-spacing: 0.2vmax;
  margin: 7vmax auto;
}

.page8 > .space-mission > .content > .content-box {
  width: 100%;
  height: 80vh;
  /* background-color: #000; */
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.page8 > .space-mission > .content > .content-box > .left-box {
  width: 45%;
  height: 80%;
  /* background-color: #ffd8ce; */
  display: flex;
  flex-direction: column;
}

.page8 > .space-mission > .content > .content-box > .left-box > h1 {
  font-size: 3.5vmax;
  font-family: archi;
  margin: 1.5vmax 0;
  background: linear-gradient(269.59deg, #8280d8 17.02%, #c77b76 92.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.page8 > .space-mission > .content > .content-box > .left-box > p {
  font-family: Poppins;
  font-size: 1.3vmax;
  font-weight: 300;
  margin: 1.5vmax 0;
}

.page8 > .space-mission > .content > .content-box > .left-box > a {
  /* text-decoration: none; */
  margin-top: 2vmax;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.4vmax;
  color: black;
}

.page8 > .space-mission > .content > .content-box > .right-box {
  width: 40%;
  height: 50%;
  margin-top: 2vmax;
}

.page8 > .space-mission > .content > .content-box > .right-box > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10vmax;
}

/* PAGE-9 --------------- */

.page9 {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 1px;
}

.page9 > h1 {
  /* display: block; */
  width: fit-content;
  font-family: archi;
  font-size: 1.2vmax;
  font-weight: 100;
  letter-spacing: 0.2vmax;
  margin: 0 auto;
  margin-top: 5vmax;
}

.page9 > .company-icon {
  width: 80%;
  height: 50%;
  /* background-color: #000; */
  margin: 2vmax auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page9 > .company-icon > .up-ico {
  width: 80%;
  height: 49%;
  /* background-color: #8280d8; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page9 > .company-icon > .up-ico > .box {
  width: 18%;
  height: 80%;
  padding: 2vmax;
  /* background-color: #c77b76; */
}

.page9 > .company-icon > .up-ico > .box > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page9 > .company-icon > .down-ico {
  width: 100%;
  height: 49%;
  /* background-color: #18183d; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page9 > .company-icon > .down-ico > .box > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page9 > p {
  font-family: archi;
  font-size: 1.3vmax;
  text-align: center;
}

.page9 > button {
  font-size: 1vmax;
  font-weight: 500;
  padding: 1vmax 2vmax;
  border-radius: 50px;
  border: 2px solid #000000;
  background-color: transparent;
  font-family: Montserrat;
  margin-left: 10vmax;
  margin-top: 2.5vmax;
  color: rgb(0, 0, 0);
}

/* PAGE-10 -------------- */

.page10 {
  width: 100%;
  height: 150vh;
  background: url(./contact_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 5vmax;
}

.page10::before {
  content: "";
  left: 0%;
  top: 65.8%;
  background: url(https://www.brain.space/wp-content/themes/brain.space/assets/substracts/footer_substract.svg)
    no-repeat center;
  background-size: 100%;
  width: 45vmax;
  height: 32vmax;
  position: absolute;
  object-fit: contain;
  z-index: 1;
}

.page10 > .left-contact {
  width: 40%;
  height: 30%;
  margin-top: 2.5vmax;
  color: #fff;
  /* background-color: #000; */
}

.page10 > .left-contact > h1 {
  font-family: archi;
  font-size: 2.8vmax;
}

.page10 > .left-contact > p {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.2vmax;
  margin-top: 1.5vmax;
}

.page10 > .right-contact {
  width: 40%;
  height: 85%;
  margin-top: 2.5vmax;
  /* background-color: #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2vmax;
}

.page10 > .right-contact > select {
  border: none;
  font-size: 1.3vmax;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: soft-light;
  backdrop-filter: blur(10%);
  border-radius: 1vmax;
  height: 5vmax;
  width: 60%;
  padding: 0 3rem;
  box-sizing: border-box;
  color: black;
  transition: 0.3s all;
}

.page10 > .right-contact > select:focus {
  outline: none;
}

.page10 > .right-contact > input {
  font-size: 1.3vmax;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: soft-light;
  backdrop-filter: blur(10%);
  border-radius: 1vmax;
  height: 4vmax;
  width: 60%;
  padding: 2vmax;
  box-sizing: border-box;
  color: black;
  transition: 0.3s all;
}

.page10 > .right-contact > input:focus {
  outline: none;
  background-color: #fff;
}

.page10 > .right-contact > button {
  font-size: 1vmax;
  font-weight: 500;
  padding: 1vmax 2vmax;
  border-radius: 50px;
  border: 2px solid #000000;
  background-color: transparent;
  font-family: Montserrat;
  margin-right: 17vmax;
  margin-top: 1vmax;
  margin-bottom: 0.5vmax;
  color: rgb(0, 0, 0);
}

.page10 > .right-contact > h4 {
  font-weight: 500;
  font-family: archi;
  font-size: 1.3vmax;
  z-index: 99;
  transform: translate(-360%, 90%);
}

.footer {
  width: 100%;
  height: 70vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer > .footer-up {
  width: 85%;
  height: 15%;
  /* background-color: rgba(0, 0, 0, 0.327); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > .footer-up > .left-up {
  width: 20%;
  height: 100%;
  /* background-color: #8280d8; */
  display: flex;
  align-items: center;
  padding: 1vmax;
  /* justify-content: center; */
}

.footer > .footer-up > .right-up {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: #c77b76; */
}

.footer > .footer-up > .right-up > a {
  text-decoration: none;
  font-size: 0.75vmax;
  font-weight: 400;
  color: #000;
  font-family: Poppins;
}

.footer > .footer-down {
  width: 84%;
  height: 10%;
  /* background-color: rgba(0, 0, 0, 0.303); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > .footer-down > .left-down {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer > .footer-down > .left-down > p {
  font-family: archi;
  font-weight: 600;
  font-size: 0.8vmax;
}

.footer > .footer-down > .right-down {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5vmax;
  padding-right: 0.9vmax;
}

.footer > .footer-down > .right-down > a {
  text-decoration: none;
  color: black;
  font-size: 1.5vmax;
}
